# MySQL连接信息
MYSQL_HOST="YOUR_MYSQL_HOST"
MYSQL_PORT="YOUR_MYSQL_PORT"
MYSQL_USER="YOUR_MYSQL_USER"
MYSQL_PASSWORD="YOUR_MYSQL_PASSWORD"
MYSQL_DATABASE="YOUR_MYSQL_DATABASE"

# LLM
LLM_NAME="YOUR_LLM_NAME"

# 本地大模型
LOCAL_LLM_NAME="YOUR_LOCAL_LLM_NAME"
LOCAL_URL="YOUR_LOCAL_URL"

# 邮箱号和授权码
SEND_EMAIL="YOUR_SEND_EMAIL"
SEND_EMAIL_CODE="YOUR_SEND_EMAIL_CODE"
SMTP_SERVER="YOUR_SMTP_SERVER"
SMTP_PORT="YOUR_SMTP_PORT"

# redis连接信息
REDIS_HOST="YOUR_REDIS_HOST"
REDIS_PORT="YOUR_REDIS_PORT"
REDIS_DB="YOUR_REDIS_DB"

# 向量化模型
EMBEDDING_MODEL="YOUR_EMBEDDING_MODEL_PATH"

# 重排序模型
RERANKER_MODEL="YOUR_RERANKER_MODEL_PATH"

# 向量数据库连接信息
CHROMA_DATA_PATH="YOUR_CHROMA_DATA_PATH"
COLLECTION_NAME="YOUR_COLLECTION_NAME"
CHROMA_MEMORY_PATH="YOUR_CHROMA_MEMORY_PATH"
MEMORY_COLLECTION_NAME="YOUR_MEMORY_COLLECTION_NAME"

# JWT
SECRET_KEY="YOUR_SECRET_KEY"
# 算法名称
ALGORITHM="YOUR_ALGORITHM"
# token过期时间【分钟】
ACCESS_TOKEN_EXPIRE_MINUTES="YOUR_ACCESS_TOKEN_EXPIRE_MINUTES"

# PostgreSQL连接信息
PG_URL="YOUR_POSTGRESQL_URL"